

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Management</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>

</head>


<body>
    @if (Context.Session.GetString("UserRole") != "ADMIN")
    {
        <script>
            window.location.href = "@Url.Action("AccessDenied", "Home")";
        </script>
    }
    <h1>Admin Page</h1>
    
    @* <button class="button" onclick="editUser()">Edit User</button> *@
    <a href="@Url.Action("AccountManagement", "Account")" class="button">Customer Management</a>
    <a href="@Url.Action("KoiManagement", "Koi")" class="button">Koi Management</a>
    <a href="@Url.Action("FarmManagement", "Farm")" class="button">Farm Management</a>
    <a href="@Url.Action("RouteManagement", "Route")" class="button">Route Management</a>

</body>
</html>